html {
    height: 100%;
}

body{

	
    margin: 0;
    
    background-attachment: fixed;
	background: -webkit-linear-gradient(#00A3D5,#ffffff);
	background: -moz-linear-gradient(#00A3D5, #ffffff);
	background: -o-linear-gradient(#00A3D5, #ffffff);
	background: -ms-linear-gradient(#00A3D5, #ffffff);
	background: linear-gradient(#00A3D5, #ffffff);
	background-repeat: no-repeat;

}


#header{
	width: 100%;
	height: 130px;


}
 

#menu{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	font-size: 18px;
	padding-top: 3px;
	text-align: center;

}

h1{
	color:white;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	padding-top: 45px;
	font-family: 'Orbitron', sans-serif;
	
}


.fancyNav{
	overflow: hidden;
	display: inline-block;
	margin:auto;

}

.fancyNav li{
	
	background-color: #ffffff;
	position:relative;
	float: left;
	list-style: none;
}

.fancyNav li:after{
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	background-color: #F0F0F0;
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;

}


.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	opacity:1;

}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{

	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Orbitron, sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;

}


#pageField{

	width: 1100px;	
	margin: auto;

	
}



div.textField{

	background-color: #ffffff;
	box-shadow: 7px 7px 8px #888888;
	margin-top: 110px;
	float:left;
	

}



div#rezervace{

width: 550px;


}

div#rezervace2{

width: 550px;
margin-left: 270px;
margin-bottom: 50px;

}


div#rezervace_lt{
	margin-left: 290px;
	width: 550px;
}

div#login_pg{
	background-color: #ffffff;
	box-shadow: 7px 7px 8px #888888;
	margin:auto;
	margin-top: 110px;
/*	margin-bottom: 50px;*/
	width: 550px;
}

div#users{

	width: 900px;

}

div#users_2{

	width: 900px;
	margin-bottom: 50px;
}

div#kam{

	width: 500px;
	margin-bottom: 50px;
	margin-left: 380px;
}
div#ucet{
	width: 800px;
	margin-left: 150px;
	margin-bottom: 50px;

}



#windov{
	max-width: 450px;	

}	

h2 {
text-align:center;
padding:2px;
color:#00A3D5;

}


#login {
width:100%;
float:left;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
margin-bottom: 25px;

}



input[name=typ]{
	margin-left: 50px;
}


#typLetenky{
	
	font-family: 'Titillium Web', sans-serif;
	
}

h3{
	font-size: 16px;
	font-family: 'Orbitron', sans-serif;
	font-weight: normal;
}

label{
	font-size: 16px;
	font-family: 'Orbitron', sans-serif;
	font-weight: normal;
	margin-right: 50px;
	margin-left: 50px;
}

input[name=odlet]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 95px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=kapacita]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 79px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=spolecnost]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 58px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=trida]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 58px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=cas_odl]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 64px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=cas_pril]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 66px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=cena]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 111px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}


input[name=e_mail]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 18px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}


input[name=trida]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 114px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}


input[name=pocet_osob]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 60px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=prilet]{
width:40%;
padding:10px;
margin-top:8px;
margin-left: 87px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=date]{
width:16%;
padding:8px;
margin-top:8px;
margin-left: 99px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}

input[name=date2]{
width:16%;
padding:8px;
margin-top:8px;
margin-left: -35px;
border:1px solid #ccc;
padding-left:5px;
font-size:15px;
font-family: 'Titillium Web', sans-serif;
background-color: #F0F0F0;
}





label[for=tridas]{
margin-right: 158px;
}

label[for=pomlcka]{
	margin-left: 8px;
	margin-right: 42px;
}


input[name=trida]{
	margin-right: 9px;
}


input[name=hledej] {
width:43%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-bottom:40px;
margin-top: 8px;
margin-left: 260px;
font-family: 'Orbitron', sans-serif;
}

input[name=rezervuj] {
width:43%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-bottom:40px;
margin-top: 8px;
margin-left: 260px;
font-family: 'Orbitron', sans-serif;
}

input[name=rez_vyhled_bt] {
margin: auto;
margin-bottom:40px;
margin-top: 8px;
margin-left: 230px;
width:43%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;


font-family: 'Orbitron', sans-serif;
}

input[name=username],input[name=password] {
width:75%;
padding:10px;
margin-top:8px;
margin-left: 35px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
}

input[name=submit] {
width:80%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-bottom:15px;
margin-top: 8px;
margin-left: 35px;
font-family: 'Orbitron', sans-serif;
}




input[name=jmeno]{
width:40%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
float: left;
margin-top: 8px;
}



input[name=prijmeni]{
width:40%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
margin-left: 10px;
margin-top: 8px;
}

						

input[name=add]{
width:40%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
float: left;
margin-top: 8px;
}

input[name=mail]{
width:87.6%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
float: left;
margin-top: 8px;
}

input[name=pass_reg]{
width:40%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
margin-top: 8px;

}


input[name=pass_reg2]{
	width:40.2%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
margin-left: 5px;
}

input[name=tel]{
width:40%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
margin-top: 8px;
margin-left: 10px;	
}


input[name=submit_reg] {
width:93%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-bottom:15px;
margin-top: 8px;
margin-left: 0px;
font-family: 'Orbitron', sans-serif;
}


input[name=submit_platba] {
width:21.5%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-left: 150px;
padding-top: 12px;
font-family: 'Orbitron', sans-serif;
}


input[name=cancel] {
width:21.5%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:20px;
cursor:pointer;
margin-bottom:50px;
margin-top: 8px;
font-family: 'Orbitron', sans-serif;
}



#jmeno_prij{
	margin-left: 30px;;
}

div#platba{
	margin: auto;
	margin-left: 5px;
}


input[name=platba_text]{
width:39.5%;
border:1px solid #ccc;
font-size:12px;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
padding:10px;
margin-left: 150px;
}

div.infopanel
{
	color: #ffffff; 
	font-size: 15px; 
	float:right;
	font-weight: bold;
	
}

div#index{
margin-top: 15px;
margin-right: -100px;
}

div#admin{
	margin-right: -35px;
}


div#rez{

	margin-right: 35px;

}

div#rez2{
	margin-top: -85px;
	margin-right: 35px;

}


div#rez_vh{
	margin-top: -80px;
	margin-right: -170px;
}

div#rez_vyhled{
	background-color: #ffffff;
	box-shadow: 7px 7px 8px #888888;

	margin:auto;
	margin-top: 110px;
	margin-bottom: 50px;

}

div#platba_div{
	background-color: #ffffff;
	box-shadow: 7px 7px 8px #888888;

	margin:auto;
	margin-top: 110px;
	margin-bottom: 50px;
	width: 550px;

}



#loginform{
	width: 366px;
	background-color: white;
	box-shadow: 7px 7px 8px #888888;
	float:right;
	margin-top: 110px;
	margin-bottom: 190px;
	
}


#administrace {
width:100%;
float:left;
font-family: 'Orbitron', sans-serif;
background-color: #F0F0F0;
margin-bottom: 25px;

}



table.data{
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 50px;
}


table.data tr:nth-child(even){
	 background-color:#eee; 
}

table.data td, th {
    border: 1px solid #ccc;
    padding: 4px;
}

tr.head td{
	border: 1px solid black;
	color: #ffffff;
	background-color: #00A3D5;
}

div#tlacitko{
	float:right;	
}

div#tlacitko.admin{
	
	margin-top: 38px;

	
}


div#tlacitko_rez{
	float:right;	
	margin-top: 106px;
	margin-right: -150px;
}

div#tlacitko_let{
	float:right;	
	margin-top: 40px;
	margin-right: 82px;
}


#reg_form{
	width: 450px;	
	background-color: #ffffff;
	box-shadow: 7px 7px 8px #888888;
	float:left;
	margin-top: 110px;
	margin-left: 350px;
	margin-bottom: 50px;



}

div#tlacitko_reg1{
	
	float: right;
	margin-top: 42px;
	margin-right: 145px;


	
}

#admin_menu,a{
	text-decoration:none !important;	

}
#admin_menu.hover,#admin_menu.active,#admin_menu.visited{
	text-decoration:none;
}

#admin_menu,ul,li{
	list-style-type: none;
}

input[name=reg_window]{
width: 100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:16px;
cursor:pointer;
font-family: 'Titillium Web', sans-serif;
margin-bottom: 4px;
}
input[name=reg_windows]{

width: 100%;
background-color:#FFBC00;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
font-size:16px;
cursor:pointer;
font-family: 'Titillium Web', sans-serif;
margin-bottom: 4px;
}

.adminace{
	font-size: 14px;
	width: 100px;
}

div.chyby{

	color:red;
	font-size: 22px;
	font-family: 'Orbitron', sans-serif;

}

div#pay{
	margin-left: 150px;
	margin-bottom: 10px;
}

div#pay_2{
	position: absolute;
	left: 500px;
	top:642px;
}

div #uspech{
	color:green;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-left: 185px;
	margin-bottom: 10px;
}

div .login_chyby{
	color:red;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
}

div#log{
	margin-left: 40px;
	margin-bottom: 10px;
}

div #vyhled{
	color:red;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 160px;
}


div #let{
	color:red;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 120px;
}

div#ok_let{
	color:green;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 120px;
}

div#ok_uziv{
	color:green;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 390px;
}

div#ok_uziv_ucet{
	color:green;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 340px;
}


div#zrus_uziv{
	color:red;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 10px;
	margin-left: 390px;
}