#full{
	width: 1024px;
	height: 800px;
	background-image: url(img/full.jpg);
	background-repeat: repeat-x;

}

#header{
	width: 1024px;
	height: 130px;
	background-image: url(img/header.jpg);
	
}

#menu{
	width: 1024px;
	height: 38px;
}